.contact-section {
  width: auto;
  height: max-content;
  padding: 80px 17px;
}

.contact-section,
.contact-detail,
.subcontact-box {
  gap: 1.6rem;
}

.contact-section,
.contact-box,
.subcontact-box,
.contact-detail,
.icon-box {
  display: flex;
  align-items: center;
}

.contact-section,
.contact-box,
.subcontact-box,
.contact-detail {
  flex-direction: column;
}

.contact-box {
  text-align: center;
  justify-content: space-evenly;
  width: 356px;
  height: 112px;
}

.subcontact-box {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.icon-box {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  justify-content: center;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  fill: #147efb;
  width: 30px;
  height: 30px;
}

.icon-name {
  font-size: 17px;
  font-weight: bold;
}

.icon-detail {
  font-size: 17px;
  color: #767676;
}

@media (min-width: 760px) {
  .subcontact-box {
    flex-direction: row;
  }

  .contact-section,
  .contact-box {
    align-items: flex-start;
  }

  .contact-section {
    justify-content: flex-start;
    padding: 50px 50px;
  }

  .contact-detail {
    flex-direction: row;
  }

  .text-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 1600px) {
  .contact-section {
    padding-left: 350px;
  }
}
