.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  gap: 2rem;
  z-index: 999;
  background: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  font-size: 32px;
}
