.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  gap: 2rem;
  z-index: 999;
  background: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  font-size: 32px;
}

.navbar-pc {
  display: none;
}
.navbar {
  position: fixed;
  right: -100%;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 8px 0.3px rgba(0, 0, 0, 0.3);
  z-index: 998;
}

.active {
  right: 0;
}

.navbarlink {
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  padding-left: 20px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

:hover.navbarlink {
  background-color: #7676763d;
}

@media (min-width: 1024px) {
  .menu,
  .navbar {
    display: none;
  }

  .menu {
    position: fixed;
    right: -500px;
  }

  .navbar-pc {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-right: 30px;
  }

  .navbar-pc li {
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
  }

  .link {
    position: relative;
  }

  .link::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 0;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease-out;
  }

  :hover.link::before {
    width: 100%;
  }
}
