.aboutme-pic {
  width: 320px;
  height: 210px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 35px;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 17px 70px;
}

.layout-text {
  text-align: center;
}

.image-side-area {
  display: none;
}

@media (min-width: 760px) {
  .aboutme-pic {
    width: 350px;
    height: 350px;
  }

  .aboutme-content {
    padding: 100px 100px 70px;
  }

  .aboutpic-area {
    position: relative;
  }

  .image-side-area {
    display: flex;
    position: absolute;
    bottom: -5px;
    right: -35px;
  }

  .image-mini-area {
    position: relative;
    background-color: #fff;
    border-radius: 100%;
  }

  .emoji {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }

  .text-rotate {
    animation: rotate 10s linear 0s infinite normal both;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@media (min-width: 1600px) {
  .aboutme-content {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 100px 400px 70px;
  }

  .about-text {
    align-items: flex-start;
  }

  .layout-text {
    text-align: left;
  }
}
