.techstack-box {
  flex-direction: column;
  align-items: center;
}

.techstack-box,
.techstack-sub,
.box-sub {
  display: flex;
}

.techstack-sub,
.techstack-box {
  gap: 1.6rem;
}

:hover.box-sub {
  transform: translateY(-10px);
}

.box-sub {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 760px) {
  .techstack-box {
    flex-direction: row;
  }

  .techstack-box,
  .techstack-sub {
    gap: 1rem;
  }
}
